.my__header{
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 800px) {
    .my__header-menu-hello{
        overflow: visible;
        position: relative;
        font-family: "Poppins", ui-monospace, monospace;
        line-height: 40px;
        font-size: 7vmin;
        color:black;
        text-align: center;
        background-color: #FFFFFF;
        box-shadow: 0px 5px 15px 0px #000000;
        width: 100rem;
        height: 11rem;
        padding: 1.6rem;
        margin: 1rem;
        border-radius: 30px;
    }
}