.my__footer{
    display: flex;
    justify-content: space-between;
}


@media only screen and (max-width: 800px) {
    .my__footer-logos{
        display: grid;
        grid-template-columns: 1fr 1fr 5rem;
        overflow: visible;
        position: relative;
        font-family: "Poppins", ui-monospace, monospace;
        line-height: 40px;
        font-size: 7vmin;
        color:black;
        background-color: #FFFFFF;
        box-shadow: 0px 5px 15px 0px #000000;
        width: 80rem;
        height: 6rem;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        gap: 0 6rem;
        align-items: center;
        max-width: 100%;
        height: auto;
    }
}

@media only screen and (min-width: 800px) {
    .my__footer{
        display: none;
    }
}